<template name="addLocation">
  <h2>Add New Location</h2>
  <form class="main form">
    <div class="form-group">
      <div class="controls">
        <input name="name" id="name" type="text" value="" placeholder="Location Name" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <div class="controls">
        <input name="address" id="address" type="text" value="" placeholder="Location Address" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <div class="controls">
        <input name="city" id="city" type="text" value="" placeholder="Location City" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <div class="controls">
        <input name="state" id="state" type="text" value="" placeholder="Location State" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <div class="controls">
        <input name="zip" id="zip" type="text" value="" placeholder="Location Zip" class="form-control" />
      </div>
    </div>

    <input type="submit" value="Add" class="btn btn-primary" />
  </form>
</template>
