#home-div {
  float: left;
  width: 100%;
  height: 800px;
}

#map-canvas {
  float: left;
  width: 75%;
  height: 800px;
}

#location-div {
  width: 25%;
  height: 800px;
}

.selected {
  color: red;
}

.unselected {
  color: black;
}
